*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins', sans-serif;
    background:#f5f7fb;
    color:#333;
}

/* DASHBOARD */

.dashboard{
    display:grid;
    grid-template-columns:260px 1fr;
    min-height:100vh;
}

/* SIDEBAR */

.sidebar{
    background:#111827;
    padding:30px 20px;
    color:white;
}

.logo{
    margin-bottom:40px;
}

.logo h2{
    font-size:28px;
}

.menu{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.menu a{
    text-decoration:none;
    color:white;
    padding:12px;
    border-radius:8px;
    transition:0.3s;
}

.menu a:hover{
    background:#2563eb;
}

/* MAIN */

.main-content{
    display:flex;
    flex-direction:column;
}

/* TOPBAR */

.topbar{
    background:white;
    padding:25px;
    border-bottom:1px solid #ddd;
}

.topbar h1{
    font-size:28px;
}

/* CONTENT */

.content{
    padding:30px;
}

/* SECTIONS */

.section{
    display:block;
}

.hidden{
    display:none;
}

/* CARDS */

.cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    margin-bottom:30px;
}

.card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.card h3{
    margin-bottom:10px;
    color:#2563eb;
}

.card p{
    font-size:28px;
    font-weight:bold;
}

/* FORMS */

.forms-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.form-box{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.form-box h2{
    margin-bottom:20px;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

form input{
    padding:12px;
    border:1px solid #ddd;
    border-radius:8px;
    outline:none;
}

form button{
    padding:12px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

form button:hover{
    background:#1d4ed8;
}

/* TABLE */

.table-container{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

table th{
    background:#2563eb;
    color:white;
}

table th,
table td{
    padding:15px;
    text-align:center;
    border-bottom:1px solid #eee;
}

/* METAS */

.metas-grid{
    margin-top:20px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.meta-card{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.btn-eliminar{
    margin-top:15px;
    padding:10px;
    border:none;
    border-radius:8px;
    background:#ef4444;
    color:white;
    cursor:pointer;
}